<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="rear_unit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find pandar_description)/urdf/pandar_40p.xacro"/>
    <xacro:include filename="$(find pandar_description)/urdf/pandar_qt.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>

     <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find aip_x2_description)/config"/>

    <xacro:property name="rear_unit_base_link" default="rear_unit_base_link"/>

    <joint name="${rear_unit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${rear_unit_base_link}"/>
    </joint>
    <link name="${rear_unit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${load_yaml('$(arg config_dir)/rear_unit_calibration.yaml')}"/>

    <!-- BFS4(R) -->
    <xacro:monocular_camera_macro name="camera3/camera" parent="rear_unit_base_link"
      namespace=""
      x="${calibration['rear_unit_base_link2camera3']['x']}"
      y="${calibration['rear_unit_base_link2camera3']['y']}"
      z="${calibration['rear_unit_base_link2camera3']['z']}"
      roll="${calibration['rear_unit_base_link2camera3']['roll']}"
      pitch="${calibration['rear_unit_base_link2camera3']['pitch']}"
      yaw="${calibration['rear_unit_base_link2camera3']['yaw']}"
      fps="30" width="800" height="400" fov="1.3"/>

    <!-- lidar -->
    <xacro:Pandar40P name="pandar_40p_rear" parent="rear_unit_base_link"
      x="${calibration['rear_unit_base_link2pandar_40p_rear_base_link']['x']}"
      y="${calibration['rear_unit_base_link2pandar_40p_rear_base_link']['y']}"
      z="${calibration['rear_unit_base_link2pandar_40p_rear_base_link']['z']}"
      roll="${calibration['rear_unit_base_link2pandar_40p_rear_base_link']['roll']}"
      pitch="${calibration['rear_unit_base_link2pandar_40p_rear_base_link']['pitch']}"
      yaw="${calibration['rear_unit_base_link2pandar_40p_rear_base_link']['yaw']}" />

    <xacro:PandarQT name="pandar_qt_rear" parent="rear_unit_base_link"
      x="${calibration['rear_unit_base_link2pandar_qt_rear_base_link']['x']}"
      y="${calibration['rear_unit_base_link2pandar_qt_rear_base_link']['y']}"
      z="${calibration['rear_unit_base_link2pandar_qt_rear_base_link']['z']}"
      roll="${calibration['rear_unit_base_link2pandar_qt_rear_base_link']['roll']}"
      pitch="${calibration['rear_unit_base_link2pandar_qt_rear_base_link']['pitch']}"
      yaw="${calibration['rear_unit_base_link2pandar_qt_rear_base_link']['yaw']}" />
    </xacro:macro>

</robot>
