<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="config_dir" default="$(find aip_xx1_gen2_description)/config"/>
  <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensors_calibration.yaml')}"/>

  <!-- sensor kit -->
  <xacro:include filename="sensor_kit.xacro"/>
  <xacro:sensor_kit_macro
    parent="base_link"
    x="${calibration['base_link']['sensor_kit_base_link']['x']}"
    y="${calibration['base_link']['sensor_kit_base_link']['y']}"
    z="${calibration['base_link']['sensor_kit_base_link']['z']}"
    roll="${calibration['base_link']['sensor_kit_base_link']['roll']}"
    pitch="${calibration['base_link']['sensor_kit_base_link']['pitch']}"
    yaw="${calibration['base_link']['sensor_kit_base_link']['yaw']}"
  />
  <!-- embedded lidar sensors -->
  <!-- <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16
    parent="base_link"
    name="velodyne_rear"
    topic="velodyne_rear/velodyne_points"
    hz="10"
    samples="220"
    gpu="false"
  >
    <origin
      xyz="${calibration['base_link']['velodyne_rear_base_link']['x']}
           ${calibration['base_link']['velodyne_rear_base_link']['y']}
           ${calibration['base_link']['velodyne_rear_base_link']['z']}"
      rpy="${calibration['base_link']['velodyne_rear_base_link']['roll']}
           ${calibration['base_link']['velodyne_rear_base_link']['pitch']}
           ${calibration['base_link']['velodyne_rear_base_link']['yaw']}"
    />
  </xacro:VLP-16> -->
  <xacro:include filename="$(find pandar_description)/urdf/pandar_xt32.xacro"/>
  <xacro:PandarXT-32
    name="hesai_front_left"
    parent="base_link"
    x="${calibration['base_link']['hesai_front_left_base_link']['x']}"
    y="${calibration['base_link']['hesai_front_left_base_link']['y']}"
    z="${calibration['base_link']['hesai_front_left_base_link']['z']}"
    roll="${calibration['base_link']['hesai_front_left_base_link']['roll']}"
    pitch="${calibration['base_link']['hesai_front_left_base_link']['pitch']}"
    yaw="${calibration['base_link']['hesai_front_left_base_link']['yaw']}"
  />
  <xacro:PandarXT-32
    name="hesai_front_right"
    parent="base_link"
    x="${calibration['base_link']['hesai_front_right_base_link']['x']}"
    y="${calibration['base_link']['hesai_front_right_base_link']['y']}"
    z="${calibration['base_link']['hesai_front_right_base_link']['z']}"
    roll="${calibration['base_link']['hesai_front_right_base_link']['roll']}"
    pitch="${calibration['base_link']['hesai_front_right_base_link']['pitch']}"
    yaw="${calibration['base_link']['hesai_front_right_base_link']['yaw']}"
  />

  <!-- embedded radar sensors -->
  <xacro:include filename="$(find radar_description)/urdf/radar.xacro"/>
  <xacro:radar_macro
    name="front_center/radar_link"
    parent="base_link"
    x="${calibration['base_link']['front_center/radar_link']['x']}"
    y="${calibration['base_link']['front_center/radar_link']['y']}"
    z="${calibration['base_link']['front_center/radar_link']['z']}"
    roll="${calibration['base_link']['front_center/radar_link']['roll']}"
    pitch="${calibration['base_link']['front_center/radar_link']['pitch']}"
    yaw="${calibration['base_link']['front_center/radar_link']['yaw']}"
  />
  <xacro:radar_macro
    name="front_right/radar_link"
    parent="base_link"
    x="${calibration['base_link']['front_right/radar_link']['x']}"
    y="${calibration['base_link']['front_right/radar_link']['y']}"
    z="${calibration['base_link']['front_right/radar_link']['z']}"
    roll="${calibration['base_link']['front_right/radar_link']['roll']}"
    pitch="${calibration['base_link']['front_right/radar_link']['pitch']}"
    yaw="${calibration['base_link']['front_right/radar_link']['yaw']}"
  />
  <xacro:radar_macro
    name="front_left/radar_link"
    parent="base_link"
    x="${calibration['base_link']['front_left/radar_link']['x']}"
    y="${calibration['base_link']['front_left/radar_link']['y']}"
    z="${calibration['base_link']['front_left/radar_link']['z']}"
    roll="${calibration['base_link']['front_left/radar_link']['roll']}"
    pitch="${calibration['base_link']['front_left/radar_link']['pitch']}"
    yaw="${calibration['base_link']['front_left/radar_link']['yaw']}"
  />
  <xacro:radar_macro
    name="rear_center/radar_link"
    parent="base_link"
    x="${calibration['base_link']['rear_center/radar_link']['x']}"
    y="${calibration['base_link']['rear_center/radar_link']['y']}"
    z="${calibration['base_link']['rear_center/radar_link']['z']}"
    roll="${calibration['base_link']['rear_center/radar_link']['roll']}"
    pitch="${calibration['base_link']['rear_center/radar_link']['pitch']}"
    yaw="${calibration['base_link']['rear_center/radar_link']['yaw']}"
  />
  <xacro:radar_macro
    name="rear_right/radar_link"
    parent="base_link"
    x="${calibration['base_link']['rear_right/radar_link']['x']}"
    y="${calibration['base_link']['rear_right/radar_link']['y']}"
    z="${calibration['base_link']['rear_right/radar_link']['z']}"
    roll="${calibration['base_link']['rear_right/radar_link']['roll']}"
    pitch="${calibration['base_link']['rear_right/radar_link']['pitch']}"
    yaw="${calibration['base_link']['rear_right/radar_link']['yaw']}"
  />
  <xacro:radar_macro
    name="rear_left/radar_link"
    parent="base_link"
    x="${calibration['base_link']['rear_left/radar_link']['x']}"
    y="${calibration['base_link']['rear_left/radar_link']['y']}"
    z="${calibration['base_link']['rear_left/radar_link']['z']}"
    roll="${calibration['base_link']['rear_left/radar_link']['roll']}"
    pitch="${calibration['base_link']['rear_left/radar_link']['pitch']}"
    yaw="${calibration['base_link']['rear_left/radar_link']['yaw']}"
  />
</robot>
