/**:
  ros__parameters:
    sensing:
      type: diagnostic_aggregator/AnalyzerGroup
      path: sensing
      analyzers:
        node_alive_monitoring:
          type: diagnostic_aggregator/AnalyzerGroup
          path: node_alive_monitoring
          analyzers:
            topic_status:
              type: diagnostic_aggregator/GenericAnalyzer
              path: topic_status
              contains: [": sensing_topic_status"]
              timeout: 1.0
        lidar:
          type: diagnostic_aggregator/AnalyzerGroup
          path: lidar
          analyzers:
            velodyne:
              type: diagnostic_aggregator/AnalyzerGroup
              path: velodyne
              analyzers:
                health_monitoring:
                  type: diagnostic_aggregator/AnalyzerGroup
                  path: health_monitoring
                  analyzers:
                    connection:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: connection
                      contains: [": velodyne_connection"]
                      timeout: 3.0

                    temperature:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: temperature
                      contains: [": velodyne_temperature"]
                      timeout: 3.0

                    rpm:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: rpm
                      contains: [": velodyne_rpm"]
                      timeout: 3.0

            front:
              type: diagnostic_aggregator/AnalyzerGroup
              path: front
              analyzers:
                health_monitoring:
                  type: diagnostic_aggregator/AnalyzerGroup
                  path: health_monitoring
                  analyzers:
                    connection:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: connection
                      contains: [": livox_connection"]
                      timeout: 3.0

                    fan_status:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: fan_status
                      contains: [": livox_fan_status"]
                      timeout: 3.0

                    firmware_status:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: firmware_status
                      contains: [": livox_firmware_status"]
                      timeout: 3.0

                    internal_voltage:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: internal_voltage
                      contains: [": livox_internal_voltage"]
                      timeout: 3.0

                    motor_status:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: motor_status
                      contains: [": livox_motor_status"]
                      timeout: 3.0

                    # pps_signal:
                    #   type: diagnostic_aggregator/GenericAnalyzer
                    #   path: pps_signal
                    #   contains: [": livox_pps_signal"]
                    #   timeout: 3.0

                    # ptp_signal:
                    #   type: diagnostic_aggregator/GenericAnalyzer
                    #   path: ptp_signal
                    #   contains: [": livox_ptp_signal"]
                    #   timeout: 3.0

                    service_life:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: service_life
                      contains: [": livox_service_life"]
                      timeout: 3.0

                    temperature:
                      type: diagnostic_aggregator/GenericAnalyzer
                      path: temperature
                      contains: [": livox_temperature"]
                      timeout: 3.0

                    # time_sync:
                    #   type: diagnostic_aggregator/GenericAnalyzer
                    #   path: time_sync
                    #   contains: [": livox_time_sync"]
                    #   timeout: 3.0

        imu:
          type: diagnostic_aggregator/AnalyzerGroup
          path: imu
          analyzers:
            bias_monitoring:
              type: diagnostic_aggregator/AnalyzerGroup
              path: bias_monitoring
              analyzers:
                gyro_bias_validator:
                  type: diagnostic_aggregator/GenericAnalyzer
                  path: gyro_bias_validator
                  contains: [": gyro_bias_validator"]
                  timeout: 1.0
